.content {
  background-color: ;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6; /* 読みやすくするために行間を設定 */
}


.login-form__inner {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.login-form__form {
  padding: 0px 0px 40px 0px;
  width: 680px;
  border-radius: 8px;
  background-color: #FDFEFE;
}

.login-form__heading {
  padding: 0px 0px 40px 0px;
  font-size: 36px;
  font-weight: 700;
}

@media screen and (max-width: 1200px) {
  .login-form__form {
    width: 60vw;
  }
}

.login-form__group {
  margin-top: 32px;
}

.login-form__group:first-of-type {
  margin-top: 0;
}

.login-form__label {
  display: block;
  font-size: 24px;
  font-weight: 700;
}

.login-form__input {
  display: block;
  width: 100%;
  height: 55px;
  border: none;
  border: 1px solid black;
  font-family: serif;
}

.login-form__error-message {
  color: #FF9494;
}

.login-form__btn {
  margin: 60px auto 0;
  width: 100%;
  font-weight: 700;
  height: 65px;
  font-size: 26px;
}

.login-form__registration{
  text-align: center;
  width: 100%;
}

.login-form__link{
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
}