body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6; /* 読みやすくするために行間を設定 */
}

.register-form__inner {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.register-form__form {
  width: 680px;
  border-radius: 8px;
}

@media screen and (max-width: 1200px) {
  .register-form__form {
    width: 60vw;
  }
}

.register-form__group {
  margin-bottom: 32px;

}

.register-form__label {
  display: block;
  height: 36px;
  font-size: 24px;
  font-weight: 700;
}

.register-form__input {
  display: block;
  padding: 8px 12px;
  width: 100%;
  height: 48px;
  border: none;
  color: #BEB1A6;
  font-family: serif;
  border: 1px solid black;
  border-radius: 5px;
  height: 59px;
}

.register-form__error-message {
  color: #FF9494;
}

.register-form__btn {
  margin: 60px auto 0;
  width: 100%;
  height: 65px;
  font-size: 26px;
  border: 0px solid black;
}

.register-form__registration{
  text-align: center;
  width: 100%;
  padding: 30px 0px ;
}

.register-form__registration__link{
  display: inline-block;
}




.profile-form__inner{
  padding: 0px 0px 70px 0px;
}

.mb-3 {
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0px 0px 70px 0px;
}

.profile-label {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #f0f0f0; /* デフォルトの背景色 */
  position: relative;
  overflow: hidden;
  cursor: pointer;
  font-weight: 700;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.profile-picture-btn{
  color: red;
  background-color: white;
  width: 179px;
  height: 49px;
  margin-left: 40px ;
  font-size: 20px;
  font-weight: 700;
  border: 2px solid red;
  padding: 7px 17px;
}

.profile-image-wrapper{
  width: 150px;
  height: 150px;
}

.profile-image-label{
  display: none
}

.profile-btn{
  width: 100%;
  margin: 60px auto 0;
  height: 65px;
  font-size: 26px;
  border: 0px solid black;
}