@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap');

body {
  height: 100%;
  font-family: 'Inter', sans-serif;
}

body, textarea, input {
  color: black;
}

textarea::placeholder,
input::placeholder {
  color: black;
}

.app {
  display: flex;
  flex-direction: column;
}

/* ヘッダー */
.header {
  display: flex;
  align-items: center;
  height: 82px;
  text-align: center;
  font-family: serif;
  background-color: black;
  justify-content:space-between;
}

.header__heading {
  font-weight: lighter;
  width: 370px;
  padding: 22px 25px;
}

.header__link {
  width: 100%;
  background-color: #090909;
  color: #FFF;
  text-decoration: none;
  margin-left: 10px;
  padding: 8px 12px;
}

/* コンテンツ */
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 48px;
}

.content__heading {
  text-align: center;
  padding: 0px 0px 40px 0px;
  font-weight: 700;
  font-size: 36px;
}

/* ボタン */
.btn {
  display: inline-block;
  padding: 8px 32px;
  border: none;
  background-color:#FF5555;
  color: #FFF;
  font-size: 26px;
  font-weight: 700;
  cursor: pointer;
  border: 0px solid black;
  border-radius: 5px;
}

/* ページネーション */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
}

.pagination li:not(.active) {
  border: 1px solid #E0DFDE;
  padding: 4px 12px;
}

.pagination li:not(:last-child) {
  border-right: none;
}

.pagination a {
  color: #8B7969;
  text-decoration: none;
}

.pagination__link {
  text-decoration: none;
}

.active {
  padding: 4px 12px;
  border: 1px solid #8B7969;
  background-color: #8B7969;
  color: #FFF;
}

.header-buttons  {
  margin-left: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: ;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.search-input {
  width: 30%;
  padding: 8px;
  background-color: #FFF;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/*リンク*/
.link{
  font-weight: 400;
  font-size: 20px;
}